#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}

.title {
  color: rgb(244, 189, 100);
  font-size: 5em;
  line-height: 1.1;
  /* font-size: 70px; */
  padding: 20px;
  text-decoration: underline;
  text-shadow: 1px 2px 2px black;
}

.App {
  background-color: rgb(247, 215, 163);
  padding: 11px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px 30px black;
  padding: 20px;
}

.names {
  font-weight: bolder;
  color: rgb(10, 119, 119);
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.pupCard {
  background-color: darkcyan;
  border-radius: 20px;
  padding: 5px;
  padding-bottom: 15px;
  box-shadow: 0px 6px 3px 5px black;
}

.pupCardName {
  color: rgb(247, 215, 163);
  text-shadow: 2px 2px 2px black;
  font-weight: bolder;
}

.theList {
  list-style: none;
  display: contents;
  margin: 0 auto;
  text-align: center;
  color: cornsilk;
  font-size: larger;
}

.close-button {
  background-color: indianred;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin-top: 10px;
  padding: 10px;
  border-radius: 40px;
}
